h1{
    text-align: center;
    font-family: 'Press Start 2P',
    cursive;
    background: linear-gradient(#BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C)
}

navbar navbar-expand-md{
background-image:url() ;
}